.carousel{
	position: relative;
}
.carousel .slide img{
	width:100%;
	display: block;
}
.carousel .slide{
	display: none;
}
.carousel .slide.active{
	display: block;
	position: absolute;
	top:0;
	left:0;
	opacity: 1;
}
.carousel .slide.active+.slide{
	display: block;
}